<section id="home"> 
    <div id="selectproblem">
      <div id="problem-generator">
          <label class="switch">
          <input id="generator-solver-checkbox" class="switch-input" type="checkbox"/>
          <span class="switch-label" data-on="Solver" data-off="Generator"></span> 
          <span class="switch-handle"></span> 
      </div>
      <div id="topic">
        <p>Topic:</p>
        <select>
          <option value="Simplifying Expressions">Simplifying Expressions</option>
          <option value="Solving Linear Equations">Solving Linear Equations</option>
        </select> 
      </div>
      <div id="problem">
        <form>
          <p>Problem:</p>
          <input type="text" name="problem">
        </form>
      </div>
      <div id="directions">
        <p>Directions:</p>
        <select>
          <option value="solve">Solve</option>
          <option value="simplify">Simplify</option>
          <option value="evaluate">Evaluate</option>
        </select>
      </div>
    </div>
    <hr id="second-line">
     <div id=common-wrong>
      <h3>Common WRONG Answers</h3>
      <br>
      <p>If you got _______ click <a href="">here</a> to figure out where you may have made a mistake.</p>
      <br>
      <br>
      <br>
      <p>If you got _______ click <a href="">here</a> to figure out where you may have made a mistake.</p>
      <br>
      <br>
    </div>
    <div id="problem-display">
      <p>Directions displayed here:</p>
      <br>
      <p id=problem>problem displayed here</p>
      <br>
      <br>
      <br>
      <br>
      <button type="submit">Click to Reveal Answer</button>
      <div id="red">
        <p>Did you miss this one? Check out the common mistakes&rarr;</p>
      </div>
    </div>
  </section>
<footer>
  <p>Want to create multiple problems all at once? <a href="sign_in.html">Sign-in</a> to create a personalized worksheet with multiple problems</p>
</footer>