<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>wing-it</title>
</head>
<div class="top">
  <nav class="home-nav">
    <% if user_logged_in %>
      <li class="headers"><a href="/logout">Log Out</a></li>
      <li class="headers"><a href="/user/<%=@user.user_name%>"><%= @user.user_name %></a></li>
    <% else %>
      <li class="headers"><a href="/login">Log In</a></li>
      <li class="headers"><a href="/sign-up">Sign Up</a></li>
    <% end %>
    <li class="headers"><a href="/">Home</a></li>
    <li class="logo"><img src="/images/bee.png"> </li> 
    <br>
    <h1 class="wing-it">wing it</h1>
  </nav>
</div>
<body class="container">
    <%= yield %>
</body>
</html>